USE [master]
GO
/****** Object:  Database [demoAzureFunctions]    Script Date: 15/4/2019 23:32:10 ******/
CREATE DATABASE [demoAzureFunctions]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'demoAzureFunctions', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\demoAzureFunctions.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'demoAzureFunctions_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\demoAzureFunctions_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [demoAzureFunctions].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [demoAzureFunctions]
GO
/****** Object:  Table [dbo].[dboDemo]    Script Date: 15/4/2019 23:32:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dboDemo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[transaction_number] [int] NOT NULL,
	[order_date] [date] NOT NULL,
	[stat] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[dboDemo] ADD  DEFAULT ((0)) FOR [stat]
GO
USE [master]
GO
